body {
  font-family: 'SF Pro Display', sans-serif;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f2a2d;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fafafa;
  padding: 30px 80px;
  position: relative;
}

.cartBox_wrap {
  padding-bottom: 10px;
  color: #2f2a2d;
}

.feedbackBox {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: relative;
}

.feedback {
  width: 400px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
}

.feedback input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.feedback #message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
  width: 100%;
  outline: none;
}

#btn-feedback {
  margin-top: 12px;
}

.cart-body {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  outline: 2px solid #b9b8b8;
  background-color: #ffffff;
  padding: 5px;
  top: 74px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.col-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head-cart-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr 1fr 1fr 40px;
      grid-template-columns: 1fr 3fr 2fr 1fr 1fr 40px;
  grid-column-gap: 10px;
}

.cart-prod-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr 1fr 1fr 40px;
      grid-template-columns: 1fr 3fr 2fr 1fr 1fr 40px;
}

.footer-cart-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
}

button {
  outline: none;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-cart {
  background-color: #fafafa;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #2f2a2d;
  border-radius: 5px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

.btn-cart:hover {
  background-color: transparent;
  border-color: #fafafa;
  color: #fafafa;
}

.btn-cart, .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.products {
  -webkit-column-gap: 30px;
          column-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 40px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p {
  margin: 0 0 5px 0;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.desc {
  border: 1px solid #c0c0c040;
  padding: 15px;
}

.buy-btn {
  margin-top: 5px;
  background-color: #2f2a2d;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
}

.check.invalid {
  border-color: red;
  background-color: #FDD;
}

.check:focus.invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: red;
  border-radius: 0 0 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
/*# sourceMappingURL=style.css.map */